<div class="bannerContainer">
    <div class="row center caption">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="capH1">Scrapetaku</h1>
            <p class="capP center">The Mongo Scraper Edition</p>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="scrapeResults">
    {{#each data}} {{articles/article-block}} {{/each}}
</div>